<div class="wrapper">
  <%= render "header" %>
</div>

<div class="group-btn-wrapper">
  <div class="group-btn">
    <%= link_to "グループを作成する", "#" %>
  </div>
</div>

<div class="group-wrapper">
  <%# <%= render partial: "#", collection: %>
</div>
