<div class="wrapper">
  <%= render "header" %>
</div>

<div class="group-btn-wrapper">
  <div class="group-btn">
    <%= link_to "グループを作成する", new_group_path %>
  </div>
</div>

<div class="group-wrapper">
  <%# <%= image_tag group.image, class: 'group-image' if group.image.attached?%>
</div>
