<ul class = "group-lists">
  <% @documents.each do |document| %>
    <li class='list'>
      <% if document.pdf.representable? %>
        <%= link_to image_tag document.pdf.preview(resize: '300x300'), class: 'document_list' %>
        <div class="document_name">
          <p><%= document.document_title %></p>
        </div>
    <% end %>
    </li>
  <% end %>
</ul>